/*GENERAL*/
:root {
    --violet: #242038;
    --purple: #725AC1;
    --lavender: #8D86C9;
    --pale-white: #CAC4CE;
    --beige: #F7ECE1;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--beige);
    color: var(--violet);
    font-size: clamp(12px, 1vw + 0.5vh, 20px);
    display: grid;
    grid-template-rows   : auto 9fr auto;
    grid-template-areas: "hd" "mn" "ft";
    margin: 0;
    padding: 0;
}

/*CLASSES*/
.hidden {
    display: none;
}

/*HEADER*/
header{
    grid-area: hd;
    margin: 1em 20%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
    padding: 0.75em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    opacity: .75;
}

header nav ul li a {
    text-decoration: none;
    color: var(--beige);
}

header nav ul li:hover {
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 100%, rgba(141, 134, 201, 1) 0%);
    outline: white 2px solid;
    cursor: pointer;
    transform: scale(1.25);
    opacity: 1;
}

header nav ul li.current-menu {
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 100%, rgba(141, 134, 201, 1) 0%);
    /*outline: white 2px solid;*/
    cursor: pointer;
    transform: scale(1.25);
    opacity: 1;
}

header nav ul li:hover a {
    color: var(--beige);
}

/*MAIN*/
main{
    grid-area: mn;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
}

/*AUDIO PLAYER*/
#controls{
    width: 80%;
    justify-self: center;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    position: relative;
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
}

#time-elapsed{
    color: var(--beige);
    justify-self: center;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    width: 95%;
    text-align: end;
}

#progress-bar{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--lavender);
    display: block;
    width: 95%;
    justify-self: center;
    outline: none;
    border: none;
    border-radius: 0.25em;
}

#progress-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: var(--lavender);
    cursor: pointer;
    border-radius: 25%;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    transform: scale(1.1);
}

#progress-bar::-webkit-slider-thumb:hover{
    transform: scale(1.5);
}

#control-buttons{
    display: block;
    justify-self: center;
}
#control-buttons button{
    border: none;
    margin: 1em;
    color: var(--beige);
    cursor: pointer;
    transition: transform 0.2s;
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
    padding: 0.75em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

#volume-slider-holder{
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
    position: absolute;
    height: 4em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    border-radius: 1em;
    right: -7.5em;
    bottom: 30%;
}

#volume-slider{
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    background-color: var(--lavender);
    display: block;
    justify-self: center;
    outline: none;
    border: none;
    border-radius: 0.25em;
    width: 80%;
}

#volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: var(--lavender);
    cursor: pointer;
    border-radius: 25%;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    transform: scale(1.1);
}

#control-buttons button:hover{
    transform: scale(1.05);
    outline: white 2px solid;
}

#now-playing-information{
    display: flex;
    justify-content: space-between;
    width: 85%;
    justify-self: center;
}

#now-playing-image{
    margin: 1em;
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
    height: 20em;
    width: 20em;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    justify-self: center;
    position: relative;
}

#now-playing-disc{
    height: 75%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#now-playing-disc.playing{
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}

#now-playing-text{
    margin: 1em;
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
    height: 20em;
    width: 30em;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    justify-self: center;
}

#now-playing-text h2, #now-playing-text h3{
    color: var(--beige);
    margin: 1em;
    font-size: 2em;
}

/*LIBRARY*/
#track-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
    justify-self: center;
    justify-items: center;
}

.track-item{
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--lavender);
    width: 90%;
    border-radius: 1rem;
    color: var(--beige);
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.track-item:hover {
    outline: white 2px solid;
    cursor: pointer;
    transform: scale(1.02);
}

.folder-header{
    margin: 1em 0;
    text-align: center;
    font-size: 1.5em;
    color: var(--purple) !important;
}

/*SETTINGS*/
#settings{
    position: relative;
}

#settings div{
    display: flex;
    margin: 1rem;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    
}

#settings button{
    background: #725AC1;
    background: linear-gradient(90deg, rgba(114, 90, 193, 1) 0%, rgba(141, 134, 201, 1) 100%);
    padding: 0.75em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
    color: var(--beige);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#settings button:hover{
    outline: white 2px solid;
    transform: scale(1.1);
}

#settings > button{
    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
}

/*FOOTER*/
footer{
    bottom: 1em;
    position: absolute;
    justify-self: center;
}
