name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'  # Runs only on version tags

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write  # Required to create releases

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 25

      - name: Install dependencies
        run: npm ci

      - name: Build the app
        run: npm run make

      - name: List build output (debug)
        run: dir out\make\squirrel.windows\x64

      - name: Publish release
        run: npm run publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
